/* variables */
:root {
    --primary: #ffc636;
    --secondary: #0a0b5b;
}

/* reset */
body,p,a,ul,li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li {
    list-style-type: none;
}


/* base styles (styles that won't change if size changes) */

/* fonts */

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* laptop styles */
@media screen and (min-width: 960px) {
    
}

/* desktop style */
@media screen and (min-width: 1200px) {
    
}